@font-face {
    font-family: PlayfairDisplay-Bold;
    src: url(fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family:PlayfairDisplay-Regular;
    src: url(fonts/PlayfairDisplay-Regular.ttf);
}



@font-face {
    font-family: Gotham-black;
    src: url(fonts/GothamBlack.otf);
}

@font-face {
    font-family: GothamBook;
    src: url(fonts/GothamBook.otf);
}



@font-face {
    font-family: GothamBold;
    src: url(fonts/GothamBold.otf);
}


/*---------------------------------------------*/
/*------------------GENERAL--------------------*/
body{
	background-color: white;
	overflow-x: hidden;
    overflow-y: hidden;
}

h1,h2{
	font-family: PlayfairDisplay-Bold;
}


.main-title{
	color:white;
	font-size: 10rem;

}

p{
	font-family:GothamBook;
}

h3{
	font-family:Gotham-black; 
}
.fixed-btn{
    position: fixed;
    right: 0px;
    top: 45%;
    border: 2px solid #CD912A;
    font-size: 3rem;
    font-family: PlayfairDisplay-Regular;
    color: #CD912A;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    text-align: center;
    padding-top: 47px;
    z-index: 1000;
    transform: scale(1);

	transition:transform 0.5s;

}


.fixed-btn:after{
    pointer-events: none;
    border-radius: 50%;
    position: absolute;
    content: '';
    box-sizing: content-box;
     z-index: -1; 
    background-color: #CD912A;

    -webkit-transition: -webkit-transform .4s cubic-bezier(.19,1,.22,1);

    -o-transition: -o-transform .4s cubic-bezier(.19,1,.22,1);

    transition: transform .4s cubic-bezier(.19,1,.22,1);

    -webkit-transform-origin: 50% 50%;

    -o-transform-origin: 50% 50%;

    transform-origin: 50% 50%;

    -webkit-transform: scale(0);

    -khtml-transform: scale(0);

    -o-transform: scale(0);

    transform: scale(0);
    margin: -49px 0px -8px -136px;

    width: 150px;
    height: 150px;

    transition:transform 0.25s;

}



.fixed-btn:hover:after{
	webkit-transform: scale(0.9);

    -khtml-transform: scale(0.9);

    -o-transform: scale(0.9);

    transform: scale(0.9);
}



.fixed-btn:hover{
	text-decoration: none;
	color:white;
	transform: scale(1.1);

	transition:transform 0.5s,color 1s;
}







.ver-mas-btn{
    height: 63px;
    cursor:pointer;
}

.ver-mas-btn a{
	color:#CD912A;
	font-weight: bold;
}

.ver-mas-btn div{
    background-color: #CD912A;
    color: white;
    padding: 2px 8px 2px 8px;
    border-radius: 50%;
    transform:scale(1);
    transition:transform 0.25s;
}

.ver-mas-btn p{
	font-size: 1.8rem;
    margin-left: 5px;
}

.ver-mas-btn p:after {
        content: "";
        display: block;
        background-color: #CD912A;
        height: 2px;
        width: 0%;
        -webkit-transition: 0.2s width;
        transition: 0.2s width;
        opacity:0;
}

.ver-mas-btn:hover div{
    transform:scale(1.25);
    transition:transform 0.25s;
}

.ver-mas-btn:hover p:after{
    width: 100%;
    opacity:1;
    transition:opacity 0.5s,width 0.25s;
}




.left{
	float:left;
}

.right{
	float:right;
}

.section-title-cont{
	padding:60px;
}

.secondary-title{
	font-size: 6rem;
	color:white;
}

.section-title{
	font-size: 6rem;
	color:#808080;
}

hr.linea{
	height: 4px;
	width: 25px;
	background-color: black;
	margin: 14px 0 14px 0;
}



.text-box{
	width: 150px;
}

.bajada-right{
	margin-right: -38px;
}


.text-cont .epigrafe { 
color:white;


 }

 .section-margin-top{
 	margin-top: 3%;
 }

 .ul-nav{
 	padding:0 !important;
 }


.background{
    
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 67vh;
}


/*------------------Main Nav ----------------*/

header{
    padding-top: 13px;
	position:fixed;
	left: 0;
    right: 0;
    top:0;
    z-index: 1000;

}


header:after{
    bottom: 0;
    content: '';
    display: block;
    height: 158%;
    top: -30px;
    left: -1px;
    position: absolute;
    right: 0;
    -webkit-transform: rotate(-.7deg) translate(0,-15%);
    -khtml-transform: rotate(-.7deg) translate(0,-15%);
    -o-transform: rotate(-.7deg) translate(0,-15%);
    transform: rotate(-.7deg) translate(0,-15%);
    z-index: -1;
    transform: rotate(-.7deg) translate(0,-15%);

}

.white-header:after {
    background: rgba(255, 255, 255, 0.9);
    transition:background 0.5s;
}

header nav img.logo{
	width: 117px;
}





header nav a i{
    color:white;
}



header nav ul li a:after {
        content: "";
        display: block;
        background-color: white;
        height: 2px;
        width: 0%;
        opacity:0;
        -webkit-transition: 0.2s width;
        transition: 0.2s width;

    }

.black-after:after{
    background-color: black;
}



header nav ul li a:hover{
    color:white;
    text-decoration: none;
}

header nav ul li a:hover:after {
        width:100%;
        opacity: 1;
        transition:opacity 0.5s,width 0.2s;

    }




header nav .main-nav,header nav .second-nav{
	display:block;
	list-style: none;
	float:right;
}






header nav .second-nav{
	width: 166px;	
}

header nav .main-nav{
	width: 600px;
}


 header nav .main-nav-cont{
	padding:0px;
}


header nav .main-nav li,header nav .second-nav li{
	float:left;
	list-style: none;

}
header nav .main-nav li{
	margin-left: 2%;

	
}
header nav .second-nav li{
	margin-left: 15px;
	
}


header nav ul li a {
	color:white;
}


header nav .second-nav li a{
	font-family: GothamBold;

}

header nav .main-nav li a,.overlay-xs-menu ul li a{
	font-family: GothamBook;

}

  .nav-collapse span {
    display: block;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    float:right;
    width: 25px;
    margin-top: 25px;
}



.nav-collapse span:before {
    -webkit-transform: translate(0%, 10px);
    -ms-transform: translate(0%, 10px);
    transform: translate(0%, 10px);
}


.nav-collapse span:before, .nav-collapse span:after {
    content: "";
    /* display: block; */
}

.nav-collapse span:after {
    -webkit-transform: translate(0%, -14px);
    -ms-transform: translate(0%, -14px);
    transform: translate(0%, -14px);
}

.nav-collapse span, .nav-collapse span:before, .nav-collapse span:after {
        height: 4px;
    background: white;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.nav-collapse span:before, .nav-collapse span:after {
    content: "";
    display: block;
}


.nav-black-af:after{
    background:black !important;
    transition: background 0.2s;
}

.nav-black-bef:before{
    background:black !important;
    transition: background 0.2s;
}

.overlay-xs-menu{
   
}


.overlay-xs-menu {
    width: 100vw;
    height: 100%;
    position: fixed;
    z-index: 50000;
    display:block;
    background-color: rgba(255,255,255,0.8);
    animation: openMenu .4s cubic-bezier(.19,1,.22,1);
    padding-left: 0;
    text-align: center;
    display:none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay-xs-menu  li{
    margin-top: 14%;
}

.overlay-xs-menu  li a.xs-btn{
    font-size: 2.3rem;
    color:black;
}

.overlay-xs-menu li a.xs-btn:hover{
    color:black;
    text-decoration: none;
}


@keyframes openMenu{
    0% {
    bottom: 100%;
    top: -100%;
    opacity: 0;
}
1% {
    bottom: 0;
    top: 0;
    opacity: 0;
}
100% {
    opacity: 1;
}
}

/*--------------- 			  --------------*/
				/*VIDEO HOME SECTION*/
/*---------------             --------------*/

section#video-home{
	/*background-image: url("../img/bkground/home-bk.jpg");
	background-position: center;
	background-repeat: no-repeat;*/
	height: 100vh;
	text-align:center;
	padding:11%;
}

section#video-home video{
	position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}




section#video-home h4{
	font-family:Gotham-black; 
	font-size: 3.1rem;

}


section#video-home h1, section#video-home h4{
	margin:0;
	color:white;
    margin-top: 2%;
    padding-bottom: 2%;

}

section#video-home .play-circle{
    border: 2px solid white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding-top: 28px;
    padding-left: 9px;
  	margin:0 auto;
  	cursor:pointer;
}


section#video-home .play-circle:after{
    pointer-events: none;
    border-radius: 50%;
    position: absolute;
    content: '';
    box-sizing: content-box;
     z-index: -1; 
    background-color: #fff;

    -webkit-transition: -webkit-transform .4s cubic-bezier(.19,1,.22,1);

    -o-transition: -o-transform .4s cubic-bezier(.19,1,.22,1);

    transition: transform .4s cubic-bezier(.19,1,.22,1);

    -webkit-transform-origin: 50% 50%;

    -o-transform-origin: 50% 50%;

    transform-origin: 50% 50%;

    -webkit-transform: scale(0);

    -khtml-transform: scale(0);

    -o-transform: scale(0);

    transform: scale(0);

    margin: -29px 10px -8px -68px;
    width: 100px;
    height: 100px;

    transition:transform 0.25s;
}

section#video-home .play-circle img{
	width: 28px;
}


section#video-home .play-circle:hover:after{
    -webkit-transform: scale(1);

    -khtml-transform: scale(1);

    -o-transform: scale(1);

    transform: scale(1);
}


section#video-home .play-circle:hover img{
    filter:invert(90%);
}










/*--------------- 			  --------------*/
			/* ESPACIOS SECTION */
/*---------------             --------------*/



section#espacios .background .text-cont{
	    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 64%;
    border: 5px solid white;
    width: 80%;
    font-family: GothamBook;

}

section#espacios .background .text-cont .epigrafe{

    font-family: GothamBook;
    line-height: 35px;

}




section#espacios .ver-mas-btn{
	width: 114px;
}

/*--------------- 			  --------------*/
			/* ALMACEN SECTION */
/*---------------             --------------*/






section#almacen .background .text-cont{
	    position: absolute;
    left: 15%;
    right: auto;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 52%;
    border: 5px solid white;
    width: 23%;
    padding: 3%;
}


section#almacen .ver-mas-btn{
	width: 110px;
}


/*--------------- 			  --------------*/
			/* authentic SECTION */
/*---------------             --------------*/





section#authentic .background .text-cont{
	     position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 52%;
    width: 80%;
}


section#authentic .background .text-cont>h3{
	color:white;
}

section#authentic .background .text-cont a{
	color:#CD912A;
	font-size: 2rem;
    font-family: GothamBook;
    transition:color 0.5s;
}


section#authentic .background .text-cont a:hover{
    color:white;
    transition: color 0.5s;
    text-decoration: none;
}

section#authentic .gallery-col .viewport{
    width: 100%;
    max-width: 3000px;
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin-bottom: -30px;
}

section#authentic .horizontal{
    width: 350%;
    margin-bottom: 30px;
}


section#authentic .horizontal ul li{
    display:inline-block;
    float:left;
}

/*--------------- 			  --------------*/
			/* contacto SECTION */
/*---------------             --------------*/


section#contacto .iso{
	width: 82px;
}

section#contacto input{
  	outline: 0;
	border:0;
	margin-top: 1%;
	display:block;
	width: 100%;
	padding:5px;
	border-bottom:1px solid black;
}


section#contacto input:focus{
border-bottom:1px solid #CD912A;
transition:border-bottom 0.5s;	
}


section#contacto input:focus::-webkit-input-placeholder{
color: #CD912A;	
transition:color 0.5s;
}

section#contacto h2{
	font-family: GothamBlack;
}




/*--------------- 			  --------------*/
				  /* FOOTER */
/*---------------             --------------*/


footer{
	background-color: black;
	color:white;
	padding:10px 0 0px 0;
}

ul.flex{
      display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    list-style:none;
}

footer ul li:nth-child(5) div:nth-child(1){
    height: 50px;
    width: 20px;
}

footer ul li:nth-child(5) div:nth-child(1) i{
    vertical-align: -8px;
}


footer i{
    color:white;
}

footer .iso{
	width:22px;
	filter:invert(100%);
}


/*---------------             --------------*/
                  /* QUERYS */
/*---------------             --------------*/

@media only screen and (min-width: 10px) and (max-width: 850px) {
    
     .main-title {
        font-size: 7rem;
    }

    footer{
        text-align:center; 
    }

    section#almacen .background .text-cont {
    width: 72%;
}

section#video-home .play-circle {
    width: 70px;
    height: 70px;
    padding-top: 15px;
   
}

}



@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation:portrait)  {

    .row{
        margin-right: 0 !important;
    }
    section{
        text-align: center !important;
    }

   

    .bajada-right {
        display:none;
    }

    hr.linea {
        margin: auto;
    }
    .ver-mas-btn {
     
        width: 118px;
    }


    .background {

        height: 80vh;
    }


    section#almacen .background .text-cont {
     
        width: 72%;
      
    }

    
    section#contacto .iso  {
        margin: 12% 0px 12% 0px;
    }

    section#contacto .linea  {
        margin: auto;
        margin-bottom: 5%;
    }



    section#contacto .iso,section#contacto .ver-mas-btn  {
        margin-left: auto;
        margin-right: auto;
        display:block;
    }

    section#contacto .col-sm-6{
        margin: 12% 0px 12% 0px;
    }


ul.flex{
      display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: stretch;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    list-style:none;
}

header:after{
    height: 200% !important;
}


}

@media only screen and (min-width: 320px) and (max-width: 850px) and (orientation:landscape) {

    .row{
        margin-right: 0 !important;
    }
     section{
        text-align: center !important;
    }

    .background {

        height: 150vh;
    }

    section#contacto .linea  {
        margin: auto;
        margin-bottom: 5%;
    }

    section#contacto .iso, section#contacto .ver-mas-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ver-mas-btn {
     
        width: 118px;
    }


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {


}


@media only screen and (min-width: 1024px) and (max-width: 1200px) {

  
}

@media only screen and (min-width: 1200px) and (max-width: 1920px) {

  
}

